.arrow_up,.arrow_down,.arrow_left,.arrow_right,.arrow_left-up,.arrow_right-up,.arrow_right-down,.arrow_left-down,.arrow-up-down,.arrow_up-down_alt,.arrow_left-right_alt,.arrow_left-right,.arrow_expand_alt2,.arrow_expand_alt,.arrow_condense,.arrow_expand,.arrow_move,.arrow_carrot-up,.arrow_carrot-down,.arrow_carrot-left,.arrow_carrot-right,.arrow_carrot-2up,.arrow_carrot-2down,.arrow_carrot-2left,.arrow_carrot-2right,.arrow_carrot-up_alt2,.arrow_carrot-down_alt2,.arrow_carrot-left_alt2,.arrow_carrot-right_alt2,.arrow_carrot-2up_alt2,.arrow_carrot-2down_alt2,.arrow_carrot-2left_alt2,.arrow_carrot-2right_alt2,.arrow_triangle-up,.arrow_triangle-down,.arrow_triangle-left,.arrow_triangle-right,.arrow_triangle-up_alt2,.arrow_triangle-down_alt2,.arrow_triangle-left_alt2,.arrow_triangle-right_alt2,.arrow_back,.icon_minus-06,.icon_plus,.icon_close,.icon_check,.icon_minus_alt2,.icon_plus_alt2,.icon_close_alt2,.icon_check_alt2,.icon_zoom-out_alt,.icon_zoom-in_alt,.icon_search,.icon_box-empty,.icon_box-selected,.icon_minus-box,.icon_plus-box,.icon_box-checked,.icon_circle-empty,.icon_circle-slelected,.icon_stop_alt2,.icon_stop,.icon_pause_alt2,.icon_pause,.icon_menu,.icon_menu-square_alt2,.icon_menu-circle_alt2,.icon_ul,.icon_ol,.icon_adjust-horiz,.icon_adjust-vert,.icon_document_alt,.icon_documents_alt,.icon_pencil,.icon_pencil-edit_alt,.icon_pencil-edit,.icon_folder-alt,.icon_folder-open_alt,.icon_folder-add_alt,.icon_info_alt,.icon_error-oct_alt,.icon_error-circle_alt,.icon_error-triangle_alt,.icon_question_alt2,.icon_question,.icon_comment_alt,.icon_chat_alt,.icon_vol-mute_alt,.icon_volume-low_alt,.icon_volume-high_alt,.icon_quotations,.icon_quotations_alt2,.icon_clock_alt,.icon_lock_alt,.icon_lock-open_alt,.icon_key_alt,.icon_cloud_alt,.icon_cloud-upload_alt,.icon_cloud-download_alt,.icon_image,.icon_images,.icon_lightbulb_alt,.icon_gift_alt,.icon_house_alt,.icon_genius,.icon_mobile,.icon_tablet,.icon_laptop,.icon_desktop,.icon_camera_alt,.icon_mail_alt,.icon_cone_alt,.icon_ribbon_alt,.icon_bag_alt,.icon_creditcard,.icon_cart_alt,.icon_paperclip,.icon_tag_alt,.icon_tags_alt,.icon_trash_alt,.icon_cursor_alt,.icon_mic_alt,.icon_compass_alt,.icon_pin_alt,.icon_pushpin_alt,.icon_map_alt,.icon_drawer_alt,.icon_toolbox_alt,.icon_book_alt,.icon_calendar,.icon_film,.icon_table,.icon_contacts_alt,.icon_headphones,.icon_lifesaver,.icon_piechart,.icon_refresh,.icon_link_alt,.icon_link,.icon_loading,.icon_blocked,.icon_archive_alt,.icon_heart_alt,.icon_star_alt,.icon_star-half_alt,.icon_star,.icon_star-half,.icon_tools,.icon_tool,.icon_cog,.icon_cogs,.arrow_up_alt,.arrow_down_alt,.arrow_left_alt,.arrow_right_alt,.arrow_left-up_alt,.arrow_right-up_alt,.arrow_right-down_alt,.arrow_left-down_alt,.arrow_condense_alt,.arrow_expand_alt3,.arrow_carrot_up_alt,.arrow_carrot-down_alt,.arrow_carrot-left_alt,.arrow_carrot-right_alt,.arrow_carrot-2up_alt,.arrow_carrot-2dwnn_alt,.arrow_carrot-2left_alt,.arrow_carrot-2right_alt,.arrow_triangle-up_alt,.arrow_triangle-down_alt,.arrow_triangle-left_alt,.arrow_triangle-right_alt,.icon_minus_alt,.icon_plus_alt,.icon_close_alt,.icon_check_alt,.icon_zoom-out,.icon_zoom-in,.icon_stop_alt,.icon_menu-square_alt,.icon_menu-circle_alt,.icon_document,.icon_documents,.icon_pencil_alt,.icon_folder,.icon_folder-open,.icon_folder-add,.icon_folder_upload,.icon_folder_download,.icon_info,.icon_error-circle,.icon_error-oct,.icon_error-triangle,.icon_question_alt,.icon_comment,.icon_chat,.icon_vol-mute,.icon_volume-low,.icon_volume-high,.icon_quotations_alt,.icon_clock,.icon_lock,.icon_lock-open,.icon_key,.icon_cloud,.icon_cloud-upload,.icon_cloud-download,.icon_lightbulb,.icon_gift,.icon_house,.icon_camera,.icon_mail,.icon_cone,.icon_ribbon,.icon_bag,.icon_cart,.icon_tag,.icon_tags,.icon_trash,.icon_cursor,.icon_mic,.icon_compass,.icon_pin,.icon_pushpin,.icon_map,.icon_drawer,.icon_toolbox,.icon_book,.icon_contacts,.icon_archive,.icon_heart,.icon_profile,.icon_group,.icon_grid-2x2,.icon_grid-3x3,.icon_music,.icon_pause_alt,.icon_phone,.icon_upload,.icon_download,.social_facebook,.social_twitter,.social_pinterest,.social_googleplus,.social_tumblr,.social_tumbleupon,.social_wordpress,.social_instagram,.social_dribbble,.social_vimeo,.social_linkedin,.social_rss,.social_deviantart,.social_share,.social_myspace,.social_skype,.social_youtube,.social_picassa,.social_googledrive,.social_flickr,.social_blogger,.social_spotify,.social_delicious,.social_facebook_circle,.social_twitter_circle,.social_pinterest_circle,.social_googleplus_circle,.social_tumblr_circle,.social_stumbleupon_circle,.social_wordpress_circle,.social_instagram_circle,.social_dribbble_circle,.social_vimeo_circle,.social_linkedin_circle,.social_rss_circle,.social_deviantart_circle,.social_share_circle,.social_myspace_circle,.social_skype_circle,.social_youtube_circle,.social_picassa_circle,.social_googledrive_alt2,.social_flickr_circle,.social_blogger_circle,.social_spotify_circle,.social_delicious_circle,.social_facebook_square,.social_twitter_square,.social_pinterest_square,.social_googleplus_square,.social_tumblr_square,.social_stumbleupon_square,.social_wordpress_square,.social_instagram_square,.social_dribbble_square,.social_vimeo_square,.social_linkedin_square,.social_rss_square,.social_deviantart_square,.social_share_square,.social_myspace_square,.social_skype_square,.social_youtube_square,.social_picassa_square,.social_googledrive_square,.social_flickr_square,.social_blogger_square,.social_spotify_square,.social_delicious_square,.icon_printer,.icon_calulator,.icon_building,.icon_floppy,.icon_drive,.icon_search-2,.icon_id,.icon_id-2,.icon_puzzle,.icon_like,.icon_dislike,.icon_mug,.icon_currency,.icon_wallet,.icon_pens,.icon_easel,.icon_flowchart,.icon_datareport,.icon_briefcase,.icon_shield,.icon_percent,.icon_globe,.icon_globe-2,.icon_target,.icon_hourglass,.icon_balance,.icon_rook,.icon_printer-alt,.icon_calculator_alt,.icon_building_alt,.icon_floppy_alt,.icon_drive_alt,.icon_search_alt,.icon_id_alt,.icon_id-2_alt,.icon_puzzle_alt,.icon_like_alt,.icon_dislike_alt,.icon_mug_alt,.icon_currency_alt,.icon_wallet_alt,.icon_pens_alt,.icon_easel_alt,.icon_flowchart_alt,.icon_datareport_alt,.icon_briefcase_alt,.icon_shield_alt,.icon_percent_alt,.icon_globe_alt,.icon_clipboard {
    font-family: 'ElegantIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

.social_instagram:before {
    content: "\e09a"
}
.social_facebook:before {
    content: "\e093"
}.bypostauthor,.gallery-caption,.sticky,.wp-caption,.wp-caption-text {
    opacity: 1
}

.clearfix:after,.clearfix:before {
    content: " ";
    display: table
}

.aligncenter,.clear:after,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block
}

.clearfix:after {
    clear: both
}


::selection {
    background: #1abc9c;
    color: #fff
}
.ajax_loader .stripes,.ajax_loader .two_rotating_circles,.ajax_loader .wave,.text-align-center,header.centered_logo,table td,table th {
    text-align: center
}
a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0
}

a img,table {
    border: none
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle
}img {
    max-width: 100%;
    height: auto;
    image-rendering: optimizeQuality
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    color: #303030
}.h2,body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title,h2 {
    font-size: 24px;
    line-height: 1.384615384615385em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600
}

.h3,body.qode-overridden-elementors-fonts .elementor-widget-heading h3.elementor-heading-title,h3 {
    font-size: 17px;
    line-height: 1.304347826086957em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600
}a,p a {
    color: #303030;
    text-decoration: none;
    cursor: pointer
}

a:hover,p a:hover {
    color: #1abc9c;
    text-decoration: none
}

.woocommerce input[type=button],.woocommerce-page input[type=button],input[type=submit] {
    -webkit-appearance: none
}

ul {
    list-style-position: inside
}
.wrapper,body {
    background-color: #f6f6f6
}

html {
    height: 100%;
    margin: 0!important;
    -webkit-transition: all 1.3s ease-out;
    -moz-transition: all 1.3s ease-out;
    -o-transition: all 1.3s ease-out;
    -ms-transition: all 1.3s ease-out;
    transition: all 1.3s ease-out
}

body {
    font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #818181;
    font-weight: 400;
    overflow-y: scroll;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased
}

.wrapper {
    position: relative;
    z-index: 1000;
    -webkit-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    -moz-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    -o-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    -ms-transition: left .33s cubic-bezier(.694,.0482,.335,1);
    transition: left .33s cubic-bezier(.694,.0482,.335,1);
    left: 0
}.wrapper_inner {
    width: 100%;
    overflow: hidden
}
.q_logo a,.q_logo img,.qode-page-loading-effect-holder .ajax_loader {
    display: block
}header {
    width: 100%;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    position: relative;
    z-index: 110;
    -webkit-backface-visibility: hidden
}

header .header_inner_left {
    position: absolute;
    left: 45px;
    top: 0
}

.header_bottom,.header_inner_right,.header_top,.q_logo,.q_logo a {
    position: relative
}.header_inner_right {
    float: right;
    z-index: 110
}
.header_bottom {
    padding: 0 45px;
    background-color: #fff;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s
}
.logo_wrapper {
    height: 100px;
    float: left
}

.q_logo {
    top: 50%;
    left: 0
}

.q_logo a {
    visibility: hidden
}

.q_logo img {
    opacity: 1;
    position: absolute;
    top: -50%;
    width: auto!important;
    max-width: none;
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out
}
.q_logo img.dark,.q_logo img.light,.q_logo img.mobile,.q_logo img.popup,.q_logo img.sticky {
    opacity: 0
}
header.centered_logo .header_inner_left {
    float: none;
    position: relative;
    display: block;
    margin: 20px 0 10px;
    left: 0
}header.centered_logo .logo_wrapper {
    float: none;
    height: auto!important
}

header.centered_logo .q_logo {
    top: 0
}header.centered_logo .q_logo a {
    display: inline-block;
    vertical-align: middle
}

header.centered_logo .q_logo img {
    top: 0;
    margin: 0
}
header.centered_logo .header_inner_right {
    float: none;
    display: inline-block;
    position: relative;
    vertical-align: middle
}header.centered_logo nav.main_menu,header.centered_logo nav.main_menu.left,header.centered_logo nav.main_menu.right {
    position: relative;
    display: inline-block;
    left: auto;
    float: none;
    vertical-align: middle
}

header.centered_logo nav.main_menu>ul {
    left: 0
}@media only screen and (min-width: 1000px) {
    header.centered_logo:not(.sticky) .q_logo img {
        -webkit-transform:translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        transform: translate(-50%,0)
    }

    header.fixed_hiding .holeder_for_hidden_menu {
        overflow: hidden;
        max-height: 150px;
        vertical-align: middle;
        -webkit-transition: max-height .2s cubic-bezier(.23,1,.32,1) 0s;
        -moz-transition: max-height .2s cubic-bezier(.23,1,.32,1) 0s;
        -o-transition: max-height .2s cubic-bezier(.23,1,.32,1) 0s;
        -ms-transition: max-height .2s cubic-bezier(.23,1,.32,1) 0s;
        transition: max-height .2s cubic-bezier(.23,1,.32,1) 0s
    }

    header.fixed_hiding.scrolled .holeder_for_hidden_menu {
        max-height: 0
    }

    header.fixed_hiding .holeder_for_hidden_menu:hover {
        overflow: visible
    }

    header.fixed_hiding.scrolled:hover .holeder_for_hidden_menu {
        max-height: 150px;
        transition-duration: .5s;
        -webkit-transition-duration: .8s;
        -moz-transition-duration: .8s;
        -ms-transition-duration: .8s;
        -o-transition-duration: .8s
    }

    header.fixed_hiding.centered_logo .header_inner_left {
        margin: 20px 0;
        display: table;
        width: 100%
    }

    header.fixed_hiding.centered_logo.fixed_hiding .header_inner_left {
        height: 50px
    }

    header.fixed_hiding .header-left-from-logo-widget,header.fixed_hiding .header-right-from-logo-widget,header.fixed_hiding .logo_wrapper {
        display: table-cell;
        width: 33.33%;
        vertical-align: middle;
        position: relative
    }

    header.fixed_hiding .header-left-from-logo-widget-inner,header.fixed_hiding .header-right-from-logo-widget-inner {
        width: 100%
    }

    header.fixed_hiding .header-left-from-logo-widget {
        text-align: left
    }

    header.fixed_hiding .header-right-from-logo-widget {
        text-align: right
    }

    header.fixed_hiding .q_logo,header.fixed_hiding .q_logo a {
        max-height: 124px;
        opacity: 1;
        -webkit-transition: max-height .2s ease 0s,opacity .2s ease 0s;
        -moz-transition: max-height .2s ease 0s,opacity .2s ease 0s;
        -o-transition: max-height .2s ease 0s,opacity .2s ease 0s;
        -ms-transition: max-height .2s ease 0s,opacity .2s ease 0s;
        transition: max-height .2s ease-out 0s,opacity .2s ease 0s
    }

    header.fixed_hiding.scrolled .q_logo,header.fixed_hiding.scrolled .q_logo a {
        -webkit-transition: max-height .2s ease 0s,opacity .4s ease 0s;
        -moz-transition: max-height .2s ease 0s,opacity .4s ease 0s;
        -o-transition: max-height .2s ease 0s,opacity .4s ease 0s;
        -ms-transition: max-height .2s ease 0s,opacity .4s ease 0s;
        transition: max-height .2s ease-out 0s,opacity .4s ease 0s;
        max-height: 0!important;
        opacity: 0
    }

    header.fixed_hiding .q_logo_hidden a {
        height: 50px;
        position: relative;
        display: block;
        opacity: 0;
        max-height: 0;
        -webkit-transition: opacity 0s ease 0s,max-height 0s ease 0s;
        -moz-transition: opacity 0s ease 0s,max-height 0s ease 0s;
        -o-transition: opacity 0s ease 0s,max-height 0s ease 0s;
        -ms-transition: opacity 0s ease 0s,max-height 0s ease 0s;
        transition: opacity 0s ease 0s,max-height 0s ease 0s
    }

    header.fixed_hiding.scrolled .q_logo_hidden a {
        max-height: 500px;
        opacity: 1;
        -webkit-transition: opacity .15s ease .3s,max-height .15s ease .2s;
        -moz-transition: opacity .15s ease .3s,max-height .15s ease .2s;
        -o-transition: opacity .15s ease .3s,max-height .15s ease .2s;
        -ms-transition: opacity .15s ease .3s,max-height .15s ease .2s;
        transition: opacity .15s ease .3s,max-height .15s ease .2s
    }
}
.mobile_menu_button span:hover,.side_menu_button>a:hover,header:not(.with_hover_bg_color) nav.main_menu>ul>li:hover>a {
    opacity: .8
}

nav.main_menu {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
    text-align: left
}

nav.main_menu.right {
    position: relative;
    left: auto;
    float: right
}nav.main_menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}

nav.main_menu>ul {
    left: -50%;
    position: relative
}

nav.main_menu.left>ul,nav.main_menu.right>ul {
    left: auto
}

nav.main_menu ul li {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: right
}

nav.main_menu ul li a {
    color: #777;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    position: relative;
    line-height: 100px;
    padding: 0;
    margin: 0;
    cursor: pointer
}

nav.main_menu>ul>li>a>i.menu_icon {
    margin-right: 7px
}

.dark.sticky nav.main_menu>ul>li.active>a,.dark.sticky nav.main_menu>ul>li>a,.dark.sticky nav.main_menu>ul>li>a:hover,.light.sticky nav.main_menu>ul>li.active>a,.light.sticky nav.main_menu>ul>li>a,.light.sticky nav.main_menu>ul>li>a:hover,header.sticky nav.main_menu>ul>li>a {
    line-height: 60px
}

nav.main_menu>ul>li>a {
    display: inline-block;
    height: 100%;
    background-color: transparent;
    -webkit-transition: opacity .3s ease-in-out,color .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out,color .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out,color .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out,color .3s ease-in-out;
    transition: opacity .3s ease-in-out,color .3s ease-in-out
}

.with_hover_bg_color nav.main_menu>ul>li>a {
    -webkit-transition: background-color 0 ease-in-out .15s,color 0 ease-in-out .15s;
    -moz-transition: background-color 0 ease-in-out .15s,color 0 ease-in-out .15s;
    -ms-transition: background-color 0 ease-in-out .15s,color 0 ease-in-out .15s;
    -o-transition: background-color 0 ease-in-out .15s,color 0 ease-in-out .15s;
    transition: background-color 0 ease-in-out .15s,color 0 ease-in-out .15s
}

nav.main_menu>ul>li.active>a {
    color: #303030
}

nav.main_menu>ul>li>a>i.blank {
    display: none
}
nav.main_menu>ul>li>a {
    position: relative;
    padding: 0 17px;
    color: #9d9d9d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px
}

header:not(.with_hover_bg_color) nav.main_menu>ul>li>a>span:not(.plus),nav.vertical_menu>ul>li>a>span:not(.plus) {
    position: relative;
    display: inline-block;
    line-height: initial
}.drop_down ul {
    list-style: none
}

.drop_down ul li {
    position: relative
}.mobile_menu_button {
    display: none;
    float: left;
    height: 100px;
    margin: 0 20px 0 0
}

.mobile_menu_button span {
    width: 19px;
    height: 17px;
    font-size: 14px;
    z-index: 50;
    display: table-cell;
    position: relative;
    cursor: pointer;
    vertical-align: middle
}

nav.mobile_menu,nav.mobile_menu ul {
    display: none;
    width: 100%;
    position: relative
}

nav.mobile_menu {
    float: left;
    top: 0;
    text-align: left;
    overflow: hidden;
    background-color: #fff;
    z-index: 100
}

nav.mobile_menu ul {
    list-style: none;
    padding: 0;
    margin: 0
}

nav.mobile_menu>ul {
    margin-bottom: -1px!important
}
.side_menu_button_wrapper {
    display: table
}

.side_menu_button {
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    height: 100px
}.content,.content .container,.full_width {
    background-color: #f6f6f6
}
.mobile_menu_button span,.side_menu_button>a {
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    color: #9d9d9d
}
.container,.content .container .container_inner,.header_inner_right.left_side .side_menu_button a:last-child {
    padding: 0
}.container,.content,.full_width {
    z-index: 100;
    position: relative
}.content {
    margin-top: 0
}.content.content_top_margin_none {
    margin-top: 0!important
}

.container {
    width: 100%
}

.container_inner,.elementor-row .elementor-widget-wrap>.qode_elementor_container_inner,.qode_elementor_container_inner {
    width: 1100px;
    margin: 0 auto
}div.section {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}
.boxed .section .section_inner,.grid_section .section_inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 20
}

.full_section_inner {
    position: relative;
    z-index: 20
}.three_columns {
    width: 100%
}

.three_columns>.column1,.three_columns>.column2,.three_columns>.column3 {
    width: 33.33%;
    float: left
}

.three_columns>.column1>.column_inner {
    padding: 0 15px 0 0
}

.three_columns>.column2>.column_inner {
    padding: 0 5px 0 10px
}

.three_columns>.column3>.column_inner {
    padding: 0 0 0 15px
}
#submit_comment,.blog_load_more_button a,.drop_down .wide .second ul li .qbutton,.drop_down .wide .second ul li ul li .qbutton,.load_more a,.qbutton {
    position: relative;
    display: inline-block;
    width: auto;
    height: 39px;
    line-height: 39px;
    margin: 0;
    padding: 0 23px;
    border: 2px solid #303030;
    font-size: 13px;
    font-weight: 700;
    font-family: inherit;
    text-align: left;
    color: #303030;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    background-color: transparent;
    -webkit-transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    -moz-transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    -ms-transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    -o-transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    -webkit-box-sizing: initial!important;
    -moz-box-sizing: initial!important;
    box-sizing: initial!important
}

.portfolio_slides .hover_feature_holder_inner,.qbutton.big_large_full_width {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box
}.qbutton.big_large_full_width {
    width: 100%;
    height: 90px;
    line-height: 90px;
    font-size: 20px;
    padding: 0;
    text-align: center
}.wpb_content_element.wpb_single_image img {
    vertical-align: middle
}.q_font_awsome_icon i,.q_font_awsome_icon span,.side_menu .widget li,.side_menu a,.social_share_list_holder ul li i,aside .widget a {
    -webkit-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out
}.q_font_awsome_icon {
    display: inline-block
}

.q_font_awsome_icon i,.q_font_awsome_icon span {
    color: #1abc9c;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    -webkit-backface-visibility: hidden
}#back_to_top span,.box_holder_icon_inner.square .fa-stack,.q_icon_with_title.square .icon_holder .fa-stack,.q_social_icon_holder .fa-stack {
    text-align: center
}
.vc_empty_space_inner .empty_space_image {
    display: block;
    height: 100%
}
footer {
    display: block;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    position: relative
}footer .container_inner {
    position: relative
}

.footer_top_holder {
    display: block;
    background-color: #262626;
    position: relative
}
.footer_bottom_holder {
    display: block;
    background-color: #1b1b1b
}.footer_bottom {
    display: table-cell;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    height: 53px;
    width: 1%;
    vertical-align: middle
}

#pp_full_res .pp_inline,.footer_bottom_columns.three_columns .column1 .footer_bottom,.footer_bottom_columns.three_columns .column1 .footer_bottom ul,.footer_bottom_columns.two_columns_50_50 .column1 .footer_bottom,.footer_bottom_columns.two_columns_50_50 .column1 .footer_bottom ul,.pp_content_container {
    text-align: left
}

.footer_bottom_columns.three_columns .column3 .footer_bottom,.footer_bottom_columns.three_columns .column3 .footer_bottom ul,.footer_bottom_columns.two_columns_50_50 .column2 .footer_bottom,.footer_bottom_columns.two_columns_50_50 .column2 .footer_bottom ul {
    text-align: right
}

.footer_bottom p,.footer_bottom span {
    margin: 0
}#back_to_top {
    color: #cdcdcd;
    height: auto;
    position: fixed;
    bottom: 65px;
    margin: 0;
    z-index: 10000;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    right: 25px;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-backface-visibility: hidden
}

#back_to_top.off {
    opacity: 0;
    filter: alpha(opacity=0);
    right: 25px
}
#back_to_top>span {
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-decoration: none;
    -o-border-radius: 52px;
    -moz-border-radius: 52px;
    -webkit-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    border: 2px solid #e8e8e8;
    background: 0 0
}

#back_to_top span i,#back_to_top span span,.q_steps_holder .circle_small .step_title,.q_steps_holder .circle_small span {
    -webkit-transition: color .2s ease 0s;
    -moz-transition: color .2s ease 0s;
    -o-transition: color .2s ease 0s
}

#back_to_top span i,#back_to_top span span {
    font-size: 22px;
    color: #b0b0b0;
    line-height: 52px
}
.last_toggle_el_margin,.wpb_button,.wpb_content_element,.wpb_row,ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0!important
}
.header_top_bottom_holder {
    position: relative
}.side_menu_button {
    position: relative
}
.parallax_section_inner_margin,.section_inner_margin {
    margin-left: -15px;
    margin-right: -15px
}.transparent_content .container_inner.default_template_holder,.transparent_content .content,.transparent_content .content .container,.transparent_content .full_width,.transparent_content .more_facts_holder,.transparent_content .paspartu_bottom,.transparent_content .paspartu_left,.transparent_content .paspartu_outer,.transparent_content .paspartu_outer .content:not(.has_slider) .content_inner,.transparent_content .paspartu_outer .edgt_slider,.transparent_content .paspartu_right,.transparent_content .wrapper {
    background-color: transparent!important
}.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.qode_icon_font_awesome.fa {
    font-family: FontAwesome!important
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}.fa-angle-up:before {
    content: "\f106"
}
@media only screen and (max-width: 768px) {
    body {
        position:relative
    }

    #yith-quick-view-modal {
        position: absolute;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%
    }

    #yith-quick-view-modal .yith-wcqv-wrapper {
        position: absolute
    }

    #yith-quick-view-modal #yith-quick-view-content .images,#yith-quick-view-modal #yith-quick-view-content .summary {
        width: 100%
    }

    #yith-quick-view-modal #yith-quick-view-content .summary {
        padding: 46px 50px 50px
    }
}.vc_row:after,.vc_row:before {
    content: " ";
    display: table
}

.vc_row:after {
    clear: both
}.vc_column_container {
    width: 100%
}

.vc_row {
    margin-left: -15px;
    margin-right: -15px
}

.vc_col-lg-1,.vc_col-lg-10,.vc_col-lg-11,.vc_col-lg-12,.vc_col-lg-2,.vc_col-lg-3,.vc_col-lg-4,.vc_col-lg-5,.vc_col-lg-6,.vc_col-lg-7,.vc_col-lg-8,.vc_col-lg-9,.vc_col-md-1,.vc_col-md-10,.vc_col-md-11,.vc_col-md-12,.vc_col-md-2,.vc_col-md-3,.vc_col-md-4,.vc_col-md-5,.vc_col-md-6,.vc_col-md-7,.vc_col-md-8,.vc_col-md-9,.vc_col-sm-1,.vc_col-sm-10,.vc_col-sm-11,.vc_col-sm-12,.vc_col-sm-2,.vc_col-sm-3,.vc_col-sm-4,.vc_col-sm-5,.vc_col-sm-6,.vc_col-sm-7,.vc_col-sm-8,.vc_col-sm-9,.vc_col-xs-1,.vc_col-xs-10,.vc_col-xs-11,.vc_col-xs-12,.vc_col-xs-2,.vc_col-xs-3,.vc_col-xs-4,.vc_col-xs-5,.vc_col-xs-6,.vc_col-xs-7,.vc_col-xs-8,.vc_col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}@media (min-width: 768px) {
    .vc_col-sm-1,.vc_col-sm-10,.vc_col-sm-11,.vc_col-sm-12,.vc_col-sm-2,.vc_col-sm-3,.vc_col-sm-4,.vc_col-sm-5,.vc_col-sm-6,.vc_col-sm-7,.vc_col-sm-8,.vc_col-sm-9 {
        float:left
    }

    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-1,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-10,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-11,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-12,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-2,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-3,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-4,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-5,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-6,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-7,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-8,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-9 {
        float: right
    }

    .vc_col-sm-12 {
        width: 100%
    }

    .vc_col-sm-11 {
        width: 91.66666667%
    }

    .vc_col-sm-10 {
        width: 83.33333333%
    }

    .vc_col-sm-9 {
        width: 75%
    }

    .vc_col-sm-8 {
        width: 66.66666667%
    }

    .vc_col-sm-7 {
        width: 58.33333333%
    }

    .vc_col-sm-6 {
        width: 50%
    }

    .vc_col-sm-5 {
        width: 41.66666667%
    }

    .vc_col-sm-4 {
        width: 33.33333333%
    }

    .vc_col-sm-3 {
        width: 25%
    }

    .vc_col-sm-2 {
        width: 16.66666667%
    }

    .vc_col-sm-1 {
        width: 8.33333333%
    }

    .vc_col-sm-pull-12 {
        right: 100%
    }

    .vc_col-sm-pull-11 {
        right: 91.66666667%
    }

    .vc_col-sm-pull-10 {
        right: 83.33333333%
    }

    .vc_col-sm-pull-9 {
        right: 75%
    }

    .vc_col-sm-pull-8 {
        right: 66.66666667%
    }

    .vc_col-sm-pull-7 {
        right: 58.33333333%
    }

    .vc_col-sm-pull-6 {
        right: 50%
    }

    .vc_col-sm-pull-5 {
        right: 41.66666667%
    }

    .vc_col-sm-pull-4 {
        right: 33.33333333%
    }

    .vc_col-sm-pull-3 {
        right: 25%
    }

    .vc_col-sm-pull-2 {
        right: 16.66666667%
    }

    .vc_col-sm-pull-1 {
        right: 8.33333333%
    }

    .vc_col-sm-pull-0 {
        right: auto
    }

    .vc_col-sm-push-12 {
        left: 100%
    }

    .vc_col-sm-push-11 {
        left: 91.66666667%
    }

    .vc_col-sm-push-10 {
        left: 83.33333333%
    }

    .vc_col-sm-push-9 {
        left: 75%
    }

    .vc_col-sm-push-8 {
        left: 66.66666667%
    }

    .vc_col-sm-push-7 {
        left: 58.33333333%
    }

    .vc_col-sm-push-6 {
        left: 50%
    }

    .vc_col-sm-push-5 {
        left: 41.66666667%
    }

    .vc_col-sm-push-4 {
        left: 33.33333333%
    }

    .vc_col-sm-push-3 {
        left: 25%
    }

    .vc_col-sm-push-2 {
        left: 16.66666667%
    }

    .vc_col-sm-push-1 {
        left: 8.33333333%
    }

    .vc_col-sm-push-0 {
        left: auto
    }

    .vc_col-sm-offset-12 {
        margin-left: 100%
    }

    .vc_col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .vc_col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .vc_col-sm-offset-9 {
        margin-left: 75%
    }

    .vc_col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .vc_col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .vc_col-sm-offset-6 {
        margin-left: 50%
    }

    .vc_col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .vc_col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .vc_col-sm-offset-3 {
        margin-left: 25%
    }

    .vc_col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .vc_col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .vc_col-sm-offset-0 {
        margin-left: 0
    }

    .vc_col-sm-1\/5,.vc_col-sm-2\/5,.vc_col-sm-3\/5,.vc_col-sm-4\/5,.vc_col-sm-5\/5 {
        float: left
    }

    [dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-1\/5,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-2\/5,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-3\/5,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-4\/5,[dir=rtl] .vc_rtl-columns-reverse .vc_col-sm-5\/5 {
        float: right
    }

    .vc_col-sm-5\/5 {
        width: 100%
    }

    .vc_col-sm-4\/5 {
        width: 80%
    }

    .vc_col-sm-3\/5 {
        width: 60%
    }

    .vc_col-sm-2\/5 {
        width: 40%
    }

    .vc_col-sm-1\/5 {
        width: 20%
    }

    .vc_col-sm-pull-5\/5 {
        right: 100%
    }

    .vc_col-sm-pull-4\/5 {
        right: 80%
    }

    .vc_col-sm-pull-3\/5 {
        right: 60%
    }

    .vc_col-sm-pull-2\/5 {
        right: 40%
    }

    .vc_col-sm-pull-1\/5 {
        right: 20%
    }
 .vc_col-sm-push-5\/5 {
        left: 100%
    }

    .vc_col-sm-pull-0\/5 {
        right: auto
    }

   
    .vc_col-sm-push-4\/5 {
        left: 80%
    }

    .vc_col-sm-push-3\/5 {
        left: 60%
    }

    .vc_col-sm-push-2\/5 {
        left: 40%
    }

    .vc_col-sm-push-1\/5 {
        left: 20%
    }

    .vc_col-sm-push-0\/5 {
        left: auto
    }

    .vc_col-sm-offset-5\/5 {
        margin-left: 100%
    }

    .vc_col-sm-offset-4\/5 {
        margin-left: 80%
    }

    .vc_col-sm-offset-3\/5 {
        margin-left: 60%
    }

    .vc_col-sm-offset-2\/5 {
        margin-left: 40%
    }

    .vc_col-sm-offset-1\/5 {
        margin-left: 20%
    }

    .vc_col-sm-offset-0\/5 {
        margin-left: 0
    }
}
.vc_column-inner::after,.vc_column-inner::before {
    content: " ";
    display: table
}

.vc_column-inner::after {
    clear: both
}.vc_column_container {
    padding-left: 0;
    padding-right: 0
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}.wpb_single_image img {
    height: auto;
    max-width: 100%;
    vertical-align: top
}.wpb_single_image .vc_single_image-wrapper {
    display: inline-block;
    vertical-align: top;
    max-width: 100%
}
.rs-p-wp-fix {
    display: none !important;
    margin: 0 !important;
    height: 0px !important
}
rs-sbg-px {
    pointer-events: none
}
rs-module-wrap {
    visibility: hidden
}

rs-module-wrap, rs-module-wrap * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

rs-module-wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block
}
rs-module {
    position: relative;
    overflow: hidden;
    display: block
}rs-pzimg-wrap,rs-sbg-effectwrap,rs-sbg {
    display: block;
    pointer-events: none
}
rs-sbg-px,rs-sbg-wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block
}

a.rs-layer,a.rs-layer:-webkit-any-link {
    text-decoration: none
}.entry-content rs-module a, rs-module a {
    box-shadow: none
}
.tp-simpleresponsive img, rs-module img {
    max-width: none !important;
    transition: none;
    margin: 0px;
    padding: 0px;
    border: none
}rs-slides,rs-slide,rs-slide:before {
    position: absolute;
    text-indent: 0em;
    top: 0px;
    left: 0px
}

rs-slide,rs-slide:before {
    display: block;
    visibility: hidden
}rs-module rs-layer, rs-module .rs-layer {
    opacity: 0;
    position: relative;
    visibility: hidden;
    white-space: nowrap;
    display: block;
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-osx-font-smoothing: grayscale;
    z-index: 1
}

rs-layer-wrap, rs-mask, rs-module-wrap, rs-module .rs-layer, rs-module img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none
}

rs-module rs-mask-wrap .rs-layer, rs-module rs-mask-wrap *:last-child, .wpb_text_column rs-module rs-mask-wrap .rs-layer, .wpb_text_column rs-module rs-mask-wrap *:last-child {
    margin-bottom: 0
}rs-layer:not(.rs-wtbindex), .rs-layer:not(.rs-wtbindex), rs-alyer *:not(.rs-wtbindex), .rs-layer *:not(.rs-wtbindex) {
    outline: none !important
}
rs-layer-wrap,rs-parallax-wrap,rs-loop-wrap,rs-mask-wrap {
    display: block
}rs-layer-wrap,rs-mask-wrap,rs-cbg-mask-wrap {
    transform-style: flat
}rs-mask-wrap {
    overflow: hidden
}.rs-layer img, rs-layer img {
    vertical-align: top
}rs-progress {
    visibility: hidden;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%
}

rs-progress-bar,.rs-progress-bar {
    display: block;
    z-index: 20;
    box-sizing: border-box;
    background-clip: content-box;
    position: absolute;
    vertical-align: top;
    line-height: 0px;
    width: 100%;
    height: 100%
}.rs-layer img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)
}
rs-loader {
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute
}
rs-loader.spinner0 {
    width: 40px;
    height: 40px;
    background-color: #fff;
    background-image: url(/wp-content/plugins/revslider/public/assets/assets/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    margin-top: -20px;
    margin-left: -20px;
    animation: tp-rotateplane 1.2s infinite ease-in-out;
    border-radius: 3px
}a.rs-layer {
    transition: none
}


https://bubbaboxes.co.uk/wp-content/cache/minify/b216d.default.include.e27100.css